html{
  
  font-size: 1.5em;
  background-image: url("/img/bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #e4dae8;
 
  
}

body * {
  box-sizing: border-box;
  
  border-radius: 3%;  
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}


header {




  margin: 5px;
  padding: 10px;
}

section {
  
  border-radius: 3%;
  padding: 50px 50px 50px 50px;
  float: left;
  width: 25%;

}

img {
  width: 33%;
  height: 33%;
  display: block;
  margin: 10px auto;
  border-radius: 3%;
  float: left;
}

ol {
  list-style: decimal;
  list-style-position: inside;
  text-align: center;
  padding-top: 10px;
}
ul {
  list-style: decimal;
  list-style-position: inside;
  text-align: center;
  padding-top: 10px;
}
p{
  text-align: center;
  
}
footer{
  
  text-align: center;
  clear: both;
}
#intro{
  width: 100% ;
}
#vgBorder{
padding: 50px 50px 50px 50px;
}
#about{
  font-size: 2.5em;
  text-align: center;
}